@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
}

.pswd-generator {
    padding-top: 115px;
    padding-left: 52px;
    padding-right: 52px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    justify-content: flex-start;
    margin: 40px auto;
    border-radius: 5px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 40px;
    margin: 0;
}

h1 > span {
    display: block;
    color: #4ADF86;
}

h2 {
    margin-top: 10px;
    margin-bottom: 51px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #D5D4D8;
}

#generate-btn {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 9px 15px 9px 17px;
    width: 191px;
    margin-bottom: 35px;
}

.line-break {
    border-bottom: 1px solid #2F3E53 ;
    margin-bottom: 35px;
}

.passwords-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.password-show {
    background-color: #273549;
    width: 211px;
    height: 39px;
    color: #55F991;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    border-radius: 6px;
    text-align: center;
}